bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.DS_Store
node_modules
/build
/.svelte-kit
/package
/api/render

/.env
/.env.local

.vs

/backend/Prism.NoTrack.Shortener.Backend/shortener.db
