[Unit]
Description=Docker Container NoTrack Shortener Frontend
BindsTo=docker.service
After=docker.service

[Service]
Environment=NAME=%N
Environment=IMG=simonbaudart/prism-notrack:shortener-frontend-latest
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill ${NAME}
ExecStartPre=-/usr/bin/docker rm ${NAME}
ExecStart=/usr/bin/docker run --name ${NAME} \
    -p 127.0.0.1:8082:80 \
    --env "VIRTUAL_HOST=s.yourdomain.tld" \
    --env "LETSENCRYPT_HOST=s.yourdomain.tld" \
    --env "VIRTUAL_PATH=/" \
    ${IMG}
ExecStop=/usr/bin/docker stop ${NAME}

[Install]
WantedBy=multi-user.target